.home-wrapper {
  .intro {
    margin-block-end: calc(var(--base-margin) * 3);
    animation: home-animation 2000ms cubic-bezier(0.2, 0, 0, 1) 1;

    p {
      word-spacing: 5px;
      font-size: calc(var(--base-fs) * 1.5);
      margin-block-end: var(--base-margin);
    }

    h1 {
      span {
        font-size: calc(var(--base-fs) * 3.5);
        font-weight: 900;
        color: var(--heading-color);

        &:last-of-type {
          line-height: calc(var(--base-lh) * 0.7);
        }
      }
    }
  }

  .details {
    inline-size: min(90%, 32em);
    animation: home-animation 2000ms cubic-bezier(0.2, 0, 0, 1) 100ms 1;

    p {
      font-size: calc(var(--base-fs) * 1.2);
    }

    a {
      margin-block-start: calc(var(--base-margin) * 5);
      padding-inline: calc(var(--base-padding) * 2);
    }
  }
}

/* Media queries */
@media (prefers-reduced-motion) {
  .home-wrapper :where(.intro, .details) {
    animation: none;
  }
}

@media (prefers-color-scheme: dark) {
  .home-wrapper .intro h1 span:last-of-type {
    color: var(--text-color);
  }
}

@media screen and (width > 768px) {
  .home-wrapper {
    .intro p {
      font-size: calc(var(--base-fs) * 1.25);
    }

    .details p {
      font-size: calc(var(--base-fs) * 1.05);
    }
  }
}

/* Keyframes */
@keyframes home-animation {
  from {
    translate: 0 -100px;
    opacity: 0;
  }
}
